@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
  font-family: 'Red Hat Display', sans-serif;
}

p {
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.order {
  border-radius: 16px;
  margin: 0 auto;
  max-width: 343px;
}

.order__hero {
  height: 170px;
  border-radius: 14px 14px 0 0;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./images/illustration-hero.svg');
}

.order__info {
  padding: 1rem;
}
